@model LoginViewModel
@using static ASI.Basecode.Resources.Views.Screen
@section styles {
    <link rel="stylesheet" href="~/css/login.css" />
}
@{
    ViewBag.LoginView = true;
    ViewData["Title"] = "Login Page";
}
<div>
    @Html.AntiForgeryToken()
</div>
<div class="container d-flex justify-content-center align-items-center" style="height:100vh;">
    <div class="card p-4" style="max-width: 400px; box-shadow: 0px 0px 10px rgba(0,0,0,0.1);">
        <div class="text-center mb-4">
            <img src="~/img/asi-logo-invert.svg" style="width: 150px;" alt="Alliance Software Incorporated logo">
        </div>
        <form method="post" action="/Account/Login" id="loginForm">
            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example22">Username</label>
                <div class="form-outline mb-3">
                    <input type="text" id="form2Example11" class="form-control" asp-for="userName" placeholder="Enter Username" />
                    <span asp-validation-for="userName" class="text-danger"></span>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example22">Password</label>
                    <div class="form-outline mb-3">
                        <div class="form-outline mb-3">
                            <input type="password" id="form2Example22" class="form-control" asp-for="password" placeholder="Enter Password" />
                            <span asp-validation-for="password" class="text-danger"></span>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-danger btn-block w-100" type="submit" style="background-color: #d9534f;">LOGIN</button>
                        </div>
        </form>
    </div>
</div>

@section scripts {
    <script>
        // Check for error message and display Toastr notification
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage) {
            toastr.error(errorMessage);
        }
    </script>
}
